{% extends 'home/base.html' %}

{% block content %}

<div class="mx-auto" style="width: 80%; max-width: 600px; margin: 0 auto;">
  <h2 class="mb-5">もふもふ：スケジュール共有アプリ</h2>
  <h3>概要</h3>
  <p>スケジュールを投稿し、共有できるWebアプリです</p>

  <h3>できること</h3>
  <ul>
    <li>部屋名とパスワードを入力すると入室できます</li>
    <li>入室するとスケジュールの投稿、閲覧ができます</li>
  </ul>

  <h3>使い方</h3>
  <ol>
    <li>Sign up画面で部屋名とパスワードを入力します</li>
    <li>部屋の作成に成功するとSign in画面に移ります</li>
    <li>Sign in画面で作成した部屋名とパスワードを入力します</li>
    <li>サインインに成功するとスケジュールの閲覧画面に移ります</li>
    <li>「Create schedule」でスケジュールを作成できます</li>
    <li>作成したスケジュールは日程により昇順で並びます</li>
  </ol>

  <h3>ソースコード</h3>
  <p>Github:<a href="https://github.com/BigMcQueen/schedule-sharing-app">
      github.com/BigMcQueen/schedule-sharing-app</a>
  </p>

  <footer>
    <p class="mt-3">&copy; <a href="https://github.com/BigMcQueen">Bigmcqueen</a> 2023.</p>
  </footer>

</div>

{% endblock content %}