{% extends 'todo/base.html' %}

{% block header %}
<h1>Todo Detail</h1>
{% endblock header %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2>{{task.title}}</h2>
    <p>{{task.description}}</p>
    <p><small class="text-muted">{{task.scheduled_date}}</small></p>
  </div>
</div>
<div class="d-flex">
  <p><a class="btn mt-2" href="{% url 'list' %}" role="button">戻る</a></p>
  <p><a class="btn mt-2" href="{% url 'update' task.pk %}" role="button">編集</a></p>
</div>
{% endblock content %}