{% extends 'plan/base.html' %}

{% block content %}
<div class="container">
  <div class="card" style="width: 42rem;">
    <div class="card-body">
      <h5 class="card-title">{{ plan.title }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ plan.created_by }}</h6>
      <p class="card-text">{{ plan.description }}</p>
      <p class="card-subtitle mb-2 text-muted">{{ plan.scheduled_date }}</p>
      <a href="{% url 'plan:list' %}" class="card-link">一覧へ</a>
      <a href="{% url 'plan:delete' plan.pk %}" class="card-link">削除</a>
    </div>
  </div>
</div>
{% endblock content %}