{% extends 'account/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
  <h2>Sign in</h2>
  <form method="POST">{% csrf_token %}
    <div class="mb-3">
      <label for="room_name" class="form-label">Room name</label>
      {{ form.room_name | add_class:'form-control' }}
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      {{ form.email | add_class:'form-control' }}
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      {{ form.password | add_class:'form-control' }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock content %}