{% extends 'schedule/base.html' %}

{% block content %}
<div class="list-group">
  {% for schedule in schedules %}
  <a href="{% url 'schedule:schedule_detail' schedule.pk %}" class="list-group-item list-group-item-action mb-1">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ schedule.title }}</h5>
      <h6>{{ schedule.schedule_date }}</h6>
    </div>
    <div class="mt-3">
      <small class="text-muted">date created: {{ schedule.created_at }}</small>
    </div>
    <div class="mb-3">
      <small class="text-muted">date updated: {{ schedule.updated_at }}</small>
    </div>
  </a>
  {% empty %}
  <h2>No schedule.</h2>
  {% endfor %}
</div>
{% endblock content %}